.footer {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  gap: 30px;
}
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
[data-theme="light"] .footer-email-input:hover {
  border-color: black;
}
[data-theme="light"] .footer-email-input {
  background: white;
}
[data-theme="light"] .footer-email-input input {
  color: #ffffff;
}
@media (max-width: 995px) {
  .footer-connect {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer-connect img {
    width: 40px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}
@media (max-width: 665px) {
  .footer-connect {
    gap: 30px;
  }
}
@media (max-width: 445px) {
  .footer {
    margin: 50px 40px;
  }

  .footer-bottom-right {
    gap: 20px;
  }
  .footer-bottom-right p {
    font-size: 16px;
    text-align: center;
  }
  .footer-bottom p {
    font-size: 16px;
  }
}
@media (max-width: 335px) {
  .footer-connect {
    gap: 20px;
  }
}
